@import './styles/animations.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Dark mode styles */
.dark {
  color-scheme: dark;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

/* Light mode styles */
.light {
  color-scheme: light;
}

.light body {
  @apply bg-white text-gray-900;
}